*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    background-color: lightgray;
}

h1,h2,h3{
    color: rgb(54, 54, 54);
}

@import "./player";
@import "./song";